*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

.contenedor{ 
  margin-top: 15%;
  margin-bottom: 5%;
  margin-left: 4rem;
  display:grid;
  position:relative;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  
}

.producto{
  border: 1px solid #cfcfcf;
  width: 250px;
  height: 350px;
  position: relative;

}

.producto-imagen{
  width: 100%;
  height: 55%;
}


.precio{
  margin-bottom: 1rem;
  padding-left: .5rem;
  padding-top: .6rem;
}

.producto-detalles{
  background-color:white;
  color:black;
  font-family:inherit;
  border-top: .8px solid #cfcfcf;
  padding: .6rem;
  margin-top: -1rem;
  position: relative;
}

.producto-titulo{
  color: #646464;
  font-weight: 500;
  padding-left: .5rem;
}

a{
  display: block;
 }
 
 img{
     height: 150px;
 }
 
 .producto-ver{
    
     background-color: white;
     border: 1.5px solid black;
     border-radius: 5rem ;
     width: 80%;
     margin-left: 10%;
     text-align: center;
     text-transform: uppercase;
     padding: .4rem;
     color:#646464 ;
     font-weight: 700;
 }
 
 .producto-ver:hover{
     border: 2px solid white;
     background-color: rgb(202, 27, 27);
     color: white;
 }